@using Microsoft.AspNetCore.Authorization
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IAuthorizationService AuthorizationService
@using System.Security.Claims;
@{
    var userRole = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Greetings - @ViewData["Title"]</title>



    <link rel="shortcut icon" href="~/assets/static/images/logo/tab.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/assets/static/images/logo/tab.png" type="image/png">
    <link rel="stylesheet" href="~/assets/compiled/css/app.css">
    <link rel="stylesheet" href="~/assets/compiled/css/app-dark.css">

    <link rel="stylesheet" href="~/assets/extensions/filepond/filepond.css">
    <link rel="stylesheet" href="~/assets/extensions/choices.js/public/assets/styles/choices.css">
    <link rel="stylesheet" href="~/assets/extensions/flatpickr/flatpickr.min.css">
    <link rel="stylesheet"
    href="~/assets/extensions/filepond-plugin-image-preview/filepond-plugin-image-preview.css">

    <link rel="stylesheet" href="~/assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css">



    <link rel="stylesheet" href="~/assets/compiled/css/table-datatable-jquery.css">
    <link rel="stylesheet" href="~/assets/static/js/DataTable-Button-Assets/css/DataTablesButton.css"> 
    <link rel="stylesheet" href="~/assets/compiled/css/iconly.css">
    <link rel="stylesheet" href="~/assets/static/css/SweetAlert2.css">
    @RenderSection("Styles",required:false)
</head>

<body>
    <script src="~/assets/static/js/initTheme.js"></script>
    <div id="app">
        <div id="sidebar">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header position-relative">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="logo">
                            <a asp-controller="Dashboard" asp-action="DashboardIndex"><img src="~/assets/static/images/logo/E-Greetings.png" alt="Logo" srcset="" style="width:120px; height:120px; object-fit:contain"></a>
                        </div>
                        <div class="theme-toggle d-flex gap-2  align-items-center mt-2">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                            role="img" class="iconify iconify--system-uicons" width="20" height="20"
                            preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21">
                                <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round">
                                    <path d="M10.5 14.5c2.219 0 4-1.763 4-3.982a4.003 4.003 0 0 0-4-4.018c-2.219 0-4 1.781-4 4c0 2.219 1.781 4 4 4zM4.136 4.136L5.55 5.55m9.9 9.9l1.414 1.414M1.5 10.5h2m14 0h2M4.135 16.863L5.55 15.45m9.899-9.9l1.414-1.415M10.5 19.5v-2m0-14v-2"
                                    opacity=".3"></path>
                                    <g transform="translate(-210 -1)">
                                        <path d="M220.5 2.5v2m6.5.5l-1.5 1.5"></path>
                                        <circle cx="220.5" cy="11.5" r="4"></circle>
                                        <path d="m214 5l1.5 1.5m5 14v-2m6.5-.5l-1.5-1.5M214 18l1.5-1.5m-4-5h2m14 0h2"></path>
                                    </g>
                                </g>
                            </svg>
                            <div class="form-check form-switch fs-6">
                                <input class="form-check-input  me-0" type="checkbox" id="toggle-dark" style="cursor: pointer">
                                <label class="form-check-label"></label>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                            role="img" class="iconify iconify--mdi" width="20" height="20" preserveAspectRatio="xMidYMid meet"
                            viewBox="0 0 24 24">
                                <path fill="currentColor"
                                d="m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3l3.19.09m3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95l2.06.05m-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31Z">
                                </path>
                            </svg>
                        </div>
                        <div class="sidebar-toggler  x">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>

                        <li class="sidebar-item @(Context.Request.Path.Value.Contains("Dashboard/") ? "active" : "")">
                            <a asp-controller="Dashboard" asp-action="DashboardIndex" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        @if ((await AuthorizationService.AuthorizeAsync(User, "View User")).Succeeded)
                        {
                            <li class="sidebar-item @(Context.Request.Path.Value.Contains("User/") ? "active" : "") ">
                                <a asp-controller="User" asp-action="UserIndex" class='sidebar-link'>
                                    <i class="bi bi-people-fill"></i>
                                    <span>Users</span>
                                </a>
                            </li>

                        }
                        @if ((await AuthorizationService.AuthorizeAsync(User, "View Subscribers")).Succeeded)
                        {
                            <li class="sidebar-item @(Context.Request.Path.Value.Contains("Subscriber/") ? "active" : "") ">
                                <a asp-controller="Subscriber" asp-action="Index" class='sidebar-link'>
                                    <i class="bi bi-person-fill"></i>
                                    <span>Subscribers</span>
                                </a>
                            </li>
                        }

                        @if ((await AuthorizationService.AuthorizeAsync(User, "View Cards")).Succeeded)
                        {

                            <li class="sidebar-item @(Context.Request.Path.Value.Equals("/Card/Index") ? "active" : "") ">
                                <a asp-controller="Card" asp-action="Index" class='sidebar-link'>
                                    <i class="bi bi-gift-fill"></i>
                                    <span>Cards</span>
                                </a>
                            </li>
                        }

                        @if ((await AuthorizationService.AuthorizeAsync(User, "View Feedbacks")).Succeeded)
                        {
                            <li class="sidebar-item @(Context.Request.Path.Value.Contains("Feedback/") ? "active" : "") ">
                                <a asp-controller="Feedback" asp-action="Index" class='sidebar-link'>
                                    <i class="bi bi-chat-dots-fill"></i>
                                    <span>Feedbacks</span>
                                </a>
                            </li>
                        }


                        @if ((await AuthorizationService.AuthorizeAsync(User, "View Reports")).Succeeded)
                        {
                            <li class="sidebar-item @(Context.Request.Path.Value.Contains("SentCard/") ? "active" : Context.Request.Path.Value.Contains("Transaction/") ? "active":"")  has-sub">
                                <a href="#" class='sidebar-link'>
                                    <i class="bi bi-flag-fill"></i>
                                    <span>Reports</span>
                                </a>    

                                <ul class="submenu ">
                                    <li class="sidebar-item @(Context.Request.Path.Value.Contains("SentCard/") ? "active" : "") ">
                                        <a asp-controller="SentCard" asp-action="Index" class='sidebar-link'>

                                            <span>Sent Cards</span>
                                        </a>
                                    </li>


                                    <li class="sidebar-item @(Context.Request.Path.Value.Contains("Transaction/") ? "active" : "") ">
                                        <a asp-controller="Transaction" asp-action="Index" class='sidebar-link'>

                                            <span>Transactions</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }

                        @if ((await AuthorizationService.AuthorizeAsync(User, "View Settings")).Succeeded)
                        {

                            <li class="sidebar-item  has-sub">
                                <a href="#" class='sidebar-link'>
                                    <i class="bi bi-gear-fill"></i>
                                    <span>Settings</span>
                                </a>

                                <ul class="submenu ">
                                    <li class="submenu-item ">
                                        <a asp-controller="Setting" asp-action="RoleSetting" class="submenu-link">Roles</a>
                                    </li>
                                </ul>


                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
        <div id="main" class='layout-navbar navbar-fixed'>
            <header>
                <nav class="navbar navbar-expand navbar-light navbar-top">
                    <div class="container-fluid">
                        <a href="#" class="burger-btn d-block d-xl-none">
                            <i class="bi bi-justify fs-3"></i>
                        </a>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-lg-0">

                            </ul>
                            <div class="dropdown">
                                <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="user-menu d-flex">
                                        <div class="user-name text-end me-3">
                                            <h6 class="mb-0 text-gray-600">@User?.Identity?.Name</h6>
                                            <p class="mb-0 text-sm text-gray-600">
                                                @userRole
                                            </p>
                                        </div>
                                        <div class="user-img d-flex align-items-center">
                                            <div class="avatar avatar-md">
                                                <img src="~/assets/compiled/jpg/1.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton" style="min-width: 11rem;">
                                    <li>
                                        <h6 class="dropdown-header">Hello, @User.Identity.Name</h6>
                                    </li>
                                   
                                    <li>
                                        <a class="dropdown-item" asp-controller="Setting" asp-action="RoleSetting">
                                            <i class="icon-mid bi bi-gear me-2"></i>
                                            Settings
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Auth" asp-action="Logout">
                                            <i class="icon-mid bi bi-box-arrow-left me-2"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
           @RenderBody()
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2025 &copy; E-Greetings</p>
                    </div>
                    @* <div class="float-end"> *@
                    @*     <p> *@
                    @*         Crafted with <span class="text-danger"><i class="bi bi-heart-fill icon-mid"></i></span> *@
                    @*         by <a href="https://saugi.me">Saugi</a> *@
                    @*     </p> *@
                    @* </div> *@
                </div>
            </footer>
        </div>
    </div>
    <script src="~/assets/extensions/jquery/jquery.min.js"></script>
    <script src="~/assets/static/js/components/dark.js"></script>
    <script src="~/assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/assets/static/js/SweetAlert2.js"></script>
    <script src="~/assets/compiled/js/app.js"></script>
    <script src="~/assets/extensions/choices.js/public/assets/scripts/choices.js"></script>
    <script src="~/assets/static/js/pages/form-element-select.js"></script>


    <script
        src="~/assets/extensions/filepond-plugin-file-validate-size/filepond-plugin-file-validate-size.min.js">
    </script>
    <script
        src="~/assets/extensions/filepond-plugin-file-validate-type/filepond-plugin-file-validate-type.min.js">
    </script>
    <script src="~/assets/extensions/filepond-plugin-image-crop/filepond-plugin-image-crop.min.js"></script>
    <script
        src="~/assets/extensions/filepond-plugin-image-exif-orientation/filepond-plugin-image-exif-orientation.min.js">
    </script>
    <script src="~/assets/extensions/filepond-plugin-image-filter/filepond-plugin-image-filter.min.js">
    </script>
    <script src="~/assets/extensions/filepond-plugin-image-preview/filepond-plugin-image-preview.min.js">
    </script>
    <script src="~/assets/extensions/filepond-plugin-image-resize/filepond-plugin-image-resize.min.js">
    </script>
    <script src="~/assets/extensions/filepond/filepond.js"></script>
    <script src="~/assets/static/js/pages/filepond.js"></script>

    <script src="~/assets/extensions/flatpickr/flatpickr.min.js"></script>
    <script src="~/assets/static/js/pages/date-picker.js"></script>

    <script src="~/assets/extensions/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/static/js/DataTable-Button-Assets/js/DataTablesButtons.js"></script>
    <script src="~/assets/static/js/DataTable-Button-Assets/js/DataTablesExcelButton.js"></script>
    <script src="~/assets/static/js/DataTable-Button-Assets/js/DataTableshtml5.js"></script>
    <script src="~/assets/static/js/DataTable-Button-Assets/js/DataTablesPdf.js"></script>
    <script src="~/assets/static/js/DataTable-Button-Assets/js/DataTablesPdfFont.js"></script>
    <script src="~/assets/static/js/DataTable-Button-Assets/js/DataTablesPrint.js"></script>

    <script src="~/assets/extensions/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/assets/static/js/pages/datatables.js"></script>


        <script>
            @if(TempData["Auth"] != null)
            {
                <text>
                Swal.fire({
                    title: "Authentication Success",
                    text: "@TempData["Auth"]",
                    icon: "success"
                });
                </text>
            }

        @if (TempData["Error"] != null)
            {
                <text>
                Swal.fire({
                    title: "Error",
                    text: "@TempData["Error"]",
                    icon: "error"
                });
                </text>
            }
            
            @if (TempData["Success"] != null)
            {
                <text>
                Swal.fire({
                    title: "Success",
                    text: "@TempData["Success"]",
                    icon: "success"
                });
                </text>
            }
        </script>

       @RenderSection("Scripts",required:false)

</body>

</html>